/* Kanji Flash - 2022 JJ Small */

* {
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

/* Header Styling */
header {
    background-color: black;
    background-image: linear-gradient(rgba(0, 0, 0, 0.55),rgba(0, 0, 0, 0.50)) , url("../images/header_image1.jpg");
    background-size: cover;
    color: white;
    height: 500px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    font-size: 1.4em;
}

.logo, .logo-special {
    font-weight: 800;
    font-size: 1.3em;
}

.logo-special {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #FFD706;
    -webkit-text-fill-color: transparent;
    -webkit-text-fill-color: cle;
}

.nav a {
    color: white;
    text-decoration: none;
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: center;
}

.header-study-btn {
    border: 2px solid #FFD706;
    border-radius: 30px;
    padding: 2px 15px;
}

.header-text {
    margin-top: 90px;
    font-size: 1.6em;
}

.header-text h1 {
    margin-bottom: 10px;
}

/* Homepage Styling */
main {
    width: 60%;
    margin: 0 auto;
}

.hero-blurb {
    text-align: center;
    margin: 150px 50px;
}

.hero-blurb p {
    font-size: 1.2em;
    font-weight: 200;
}

.info {
    background-color: #EBF2F2;
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

.info-cont {
    margin: 0 auto;
    padding: 60px 0;
    width: 70%;
    display: flex;
}

.info-cont img {
}


/* Footer Styling */
footer {
    width: 50%;
    height: 100px;
    margin: 0 auto;
    text-align: center;
}